h1{
  display: flex;
  justify-content: left;
}

.header{
  height: 75px;
  display: flex;
  align-items: center;
}

.buttons{
  height: 50px;
  display: flex;
  align-items: center;
}

.court{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(28, 173, 28);
}

#courtCanvas{
  border: solid 5px green;
  position: absolute;
  left: 150px;
  z-index: 1;
}

#canvas{
  border: solid 5px green;
  position: absolute;
  left: 150px;
  z-index: 2;
}