h1{
  display: flex;
  justify-content: center;
}

.header{
  height: 100px;
  display: flex;
  align-items: center;
}

.buttons{
  height: 50px;
  display: flex;
  align-items: center;
}

.court{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(28, 173, 28);
}

canvas{
  border: solid 5px green;
  position: absolute;
  left: 0px;
  /* z-index: -1; */
  
}

#canvas{
  z-index: 2;
}

#courtCanvas{
  z-index: 1;
}

.courtCanvas{
  position: absolute;
  left: 0px;
  
}